.main-side-bar {
  position: relative;
  margin-right: 0;
  left: 0;
  transition: all 1s;
  background-color: #ffffff;
}

.fold-btn-modal {
  position: absolute;
  top: 23px;
  right: -25px;
  background-color: #ffffff;
}

.fold-btn {
  width: 42px;
  height: 42px;
  border: 0.5px solid #d9d9d9;
  border-radius: 7px;
  background: url('../../assets/images/main-fold-btn-arrow.png') no-repeat center;
  background-size: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.sql-btn-item {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.sql-btn {
  border: 1px solid #e9ebfc;
  border-radius: 41px;
  padding: 6px 12px;
  color: #8085b0;
  background-color: #f7f7ff;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

.sql-btn:hover,
.sql-btn:active {
  color: #f7f7ff;
  background-color: #8085b0;
  border: 1px solid #a3a7cc;
}

.more-btn {
  left: 0;
  border: 1px solid #e1e1e1;
  border-radius: 41px;
  padding: 6px 12px;
  color: #999a99;
  background-color: #efefef;
  margin-bottom: 76px;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

#sqlSelect {
  visibility: hidden;
  padding: 0 28px 0 12px;
  appearance: none;
  background: url('../../assets/images/select-arrow-drop-down.png') no-repeat right 9px center;
  width: 176px;
  height: 33px;
  background-color: #efefef;
  color: #999a99;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  margin-bottom: 76px;
  cursor: pointer;
}

.hide {
  display: none;
}

/* database */
.list-database-download-item > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px 10px 20px;
  font-size: 16px;
  border-top: 1px solid #ededed;
  color: #434343;
}

.list-database-download-item li:first-child {
  border: none;
}

.list-database-download-item > li:hover {
  background-color: #f7f7ff;
  font-weight: 600;
  cursor: pointer;
}

.download-modal {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 12px;
  left: 21px;
  background-color: #f7f7ff;
  width: 135px;
  font-size: 16px;
}

.download-modal li {
  color: #000;
  background-color: inherit;
  border: none;
  border-top: 1px solid #ededed;
  padding: 10px 0px 10px 4px;
  cursor: pointer;
}

.download-modal li a {
  color: #000;
  text-decoration: none;
}

.database-download-btn {
  background: url('../../assets/images/sprites-nomal.png') -4px -6px;
  background-size: 500px 78px;
  width: 20px;
  height: 13px;
  border: none;
  padding: 0;
}

.list-database-download-item > li:hover .database-download-btn {
  background-position: -24px -6px;
  cursor: pointer;
}

.database-download-btn:hover .download-modal {
  display: flex;
}

/* 사이드바 토글 */
.foldActive {
  position: fixed;
  left: -300px;
  transition: all 1s;
}

.foldActive-wrap {
  width: 100%;
}

.fold-btn-toggle {
  background: url('../../assets/images/main-unfold-btn-arrow.png') no-repeat center / 10px;
}

/* 메인 모달 */
.modal-wrap * {
  box-sizing: border-box;
}

.modal-wrap {
  /* display: none; */
  position: absolute;
  font-family: 'Pretendard';
  top: 0;
  left: 0;
  background-color: rgba(232, 232, 232, 0.6);
  width: 100vw;
  height: 180vh;
}

.modal-main {
  top: 50px;
  left: 50px;
  position: fixed;
  background-color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 40px;
  width: 372px;
  border: 2px solid #5966ec;
  border-radius: 10px;
  text-align: left;
}

.modal-content {
  display: flex;
  justify-content: space-between;
}

.modal-content span {
  color: #c2c2c2;
  font-size: 20px;
  line-height: 30px;
}

.modal-content button {
  display: inline-block;
  border: none;
  color: #fff;
  cursor: pointer;

  background: #5966ec;
  font-size: 18px;
  line-height: 32px;
  padding: 4px 10px;
  border-radius: 10px;
}

.modal-main p {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.hint1 {
  position: relative;
}

.hint1::before {
  content: '';
  width: 20px;
  height: 16px;
  background: center / contain no-repeat url(../../assets/images/main-modal-arrow.png);
  position: absolute;
  left: -23px;
  top: 66px;
}

.hint2 {
  position: relative;
}

.hint2::before {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: center / contain no-repeat url(../../assets/images/main-modal-arrow.png);
  position: absolute;
  left: 371px;
  top: 77px;
  transform: rotate(180deg);
}

.hint3 {
  position: relative;
}

.hint3::before {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: center / contain no-repeat url(../../assets/images/main-modal-arrow.png);
  position: absolute;
  left: 165px;
  top: -21px;
  transform: rotate(90deg);
}

.sec-statement {
  margin-top: 60px;
}

/* main 파트 */
/* main-statement 파트 */
main * {
  box-sizing: border-box;
}

main {
  padding-top: 58px;
  margin-left: 45px;
}

main h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.sec-statement form {
  background: #f9f9fa;
  border: 1px solid rgba(232, 232, 232, 0.5);
  border-radius: 16px;
  height: 289px;
  /* left right 1px씩 조정 */
  padding: 20px 19px 20px 19px;
}

.sec-statement .state-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}

.state-header h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.btn-question {
  display: inline-block;
  background: url('../../assets/images/sprites-nomal.png') -261px -4.5px;
  background-size: 611px 70px;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.state-header button {
  background-color: inherit;
  border: none;
  width: 20px;
  height: 20px;
}

.btn-copy {
  background: url('../../assets/images/sprites-nomal.png') -80px -3px;
  background-size: 611px 78px;
}

.btn-copy:hover {
  background: url('../../assets/images/sprites-nomal.png') -54px -3px;
  background-size: 611px 78px;
}

.btn-delete {
  background: url('../../assets/images/sprites-nomal.png') -217.5px -7px;
  background-size: 672px 88px;
  margin: 0 7px 0 25px;
}

.btn-delete:hover {
  background: url('../../assets/images/sprites-nomal.png') -184.5px -7px;
  background-size: 672px 88px;
}
.state-area {
  font-family: 'D2Coding';
  display: flex;
  overflow: scroll;
  height: 224px;
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 20px 0;
  font-size: 18px;
  line-height: 180%;
}

.state-area::-webkit-scrollbar {
  display: none;
}

.code-numbers {
  width: 25px;
  text-align: left;
  margin-right: 6px;
}

.code-numbers p {
  color: #7d7e7d;
}

.code {
  width: 100%;
  cursor: text;
  flex-grow: 1;
}
.code textarea {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f9f9fa;
  font-size: 18px;
  font-family: 'D2Coding';
  line-height: 32.4px;
  resize: none;
  outline: none;
}
.code-line {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  font-weight: 400;
  color: #636363;
}
.code-highlight {
  color: #5966ec;
  font-weight: 700;
}
.btn-run {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #5966ec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

/* main-result 파트 */
.sec-result h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0 20px 0px;
}

.sec-result {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 241px;
  background: #f9f9fa;
  box-sizing: border-box;
  /* left right 1px씩 조정 */
  padding: 0 11px 20px 11px;
  border: 1px solid rgba(232, 232, 232, 0.5);
  border-radius: 16px;
}

.sec-result table {
  color: #434343;
  border: 1px solid #ebebeb;
  border-radius: 4px 4px 4px 4px;
  table-layout: fixed;
  width: 100%;
}

.sec-result .table-cell {
  width: 144.17px;
}

.sec-result th,
.sec-result td {
  border: 1px solid #ebebeb;
  padding: 9.76px 18.02px 11.72px 18.02px;
}

.sec-result th {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.6px;
  background: #e7e9ff;
  text-align: left;
}

.sec-result td {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.6px;
  background: #ffffff;
}
