.main-side-bar {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  transition: all 1s;
  background-color: #ffffff;
}

.fold-btn-modal {
  position: absolute;
  top: 23px;
  right: -25px;
  background-color: #ffffff;
}

.fold-btn {
  width: 42px;
  height: 42px;
  border: 0.5px solid #d9d9d9;
  border-radius: 7px;
  background: url("../../assets/images/main-fold-btn-arrow.png") no-repeat
    center;
  background-size: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.sql-btn-item {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.sql-btn {
  border: 1px solid #e9ebfc;
  border-radius: 41px;
  padding: 6px 12px;
  color: #8085b0;
  background-color: #f7f7ff;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

.sql-btn:hover,
.sql-btn:active {
  color: #f7f7ff;
  background-color: #8085b0;
  border: 1px solid #a3a7cc;
}

.more-btn {
  left: 0;
  border: 1px solid #e1e1e1;
  border-radius: 41px;
  padding: 6px 12px;
  color: #999a99;
  background-color: #efefef;
  margin-bottom: 76px;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

#sqlSelect {
  visibility: hidden;
  padding: 0 28px 0 12px;
  appearance: none;
  background: url("../../assets/images/select-arrow-drop-down.png") no-repeat
    right 9px center;
  width: 176px;
  height: 33px;
  background-color: #efefef;
  color: #999a99;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  margin-bottom: 76px;
  cursor: pointer;
}

.hide {
  display: none;
}

/* database */
.list-database-download-item > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px 10px 20px;
  font-size: 16px;
  border-top: 1px solid #ededed;
  color: #434343;
}

.list-database-download-item li:first-child {
  border: none;
}

.list-database-download-item > li:hover {
  background-color: #f7f7ff;
  font-weight: 600;
  cursor: pointer;
}

.download-modal {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 12px;
  left: 21px;
  background-color: #f7f7ff;
  width: 135px;
  font-size: 16px;
}

.download-modal li {
  color: #000;
  background-color: inherit;
  border: none;
  border-top: 1px solid #ededed;
  padding: 10px 0px 10px 4px;
  cursor: pointer;
}

.download-modal li a {
  color: #000;
  text-decoration: none;
}

.database-download-btn {
  background: url("../../assets/images/sprites-nomal.png") -4px -6px;
  background-size: 500px 78px;
  width: 20px;
  height: 13px;
  border: none;
  padding: 0;
}

.list-database-download-item > li:hover .database-download-btn {
  background-position: -24px -6px;
  cursor: pointer;
}

.database-download-btn:hover .download-modal {
  display: flex;
  width: 150px;
  padding: 5px;
}

.download-modal a:hover {
  font-weight: 600;
}

/* 사이드바 토글 */
.foldActive {
  position: fixed;
  margin-left: -313px;
  border-right: none;
}

.foldActive-wrap {
  width: 100%;
}

.fold-btn-toggle {
  background: url("../../assets/images/main-unfold-btn-arrow.png") no-repeat
    center / 10px;
}

.sec-statement {
  margin-top: 60px;
}

/* main 파트 */
/* main-statement 파트 */
main * {
  box-sizing: border-box;
}

main {
  width: calc(100% - 360px);
  padding-top: 25px;
  margin-left: 45px;
  transition: all 1s;
}

main h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.sec-statement form {
  background: #f9f9fa;
  border: 1px solid rgba(232, 232, 232, 0.5);
  border-radius: 16px;
  height: 289px;
  padding: 20px 19px 20px 28px;
}

.sec-statement .state-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}

.state-header h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.btn-question {
  display: inline-block;
  background: url("../../assets/images/sprites-nomal.png") -261px -4.5px;
  background-size: 611px 70px;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.state-header button {
  background-color: inherit;
  border: none;
  width: 20px;
  height: 20px;
}

.btn-copy {
  background: url("../../assets/images/sprites-nomal.png") -80px -3px;
  background-size: 611px 78px;
}

.btn-copy:hover {
  background: url("../../assets/images/sprites-nomal.png") -54px -3px;
  background-size: 611px 78px;
}

.btn-delete {
  background: url("../../assets/images/sprites-nomal.png") -217.5px -7px;
  background-size: 672px 88px;
  margin: 0 7px 0 25px;
}

.btn-delete:hover {
  background: url("../../assets/images/sprites-nomal.png") -184.5px -7px;
  background-size: 672px 88px;
}
.state-area {
  font-family: "D2Coding";
  overflow: scroll;
  height: 224px;
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 20px 0;
  font-size: 18px;
  line-height: 180%;
}

.state-area::-webkit-scrollbar {
  display: none;
}

.code-numbers {
  width: 25px;
  text-align: left;
  margin-right: 6px;
  overflow: scroll;
}

.code-numbers p {
  color: #7d7e7d;
}

.code {
  width: 100%;
  cursor: text;
  flex-grow: 1;
}
.code textarea {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f9f9fa;
  font-size: 18px;
  font-family: "D2Coding";
  line-height: 32.4px;
  resize: none;
  outline: none;
}
.code-line {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  font-weight: 400;
  color: #636363;
}

.code-highlight {
  color: #5966ec;
  font-weight: 700;
}

.btn-run {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #5966ec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 80px;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.btn-run:active {
  opacity: 0.7;
}

/* main-result 파트 */
.sec-result h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0 20px 6px;
}

.sec-result {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 241px;
  background: #f9f9fa;
  box-sizing: border-box;
  padding: 0 11px 20px 11px;
  border: 1px solid rgba(232, 232, 232, 0.5);
  border-radius: 16px;
  overflow-x: scroll;
}

.sec-result::-webkit-scrollbar {
  display: none;
}

.stretch {
  width: 100%;
}

.sec-result table {
  color: #434343;
  border: 1px solid #ebebeb;
  border-radius: 4px 4px 4px 4px;
  table-layout: auto;
  width: 100%;
}

.sec-result .table-cell {
  width: 144.17px;
}

.sec-result th,
.sec-result td {
  border: 1px solid #ebebeb;
  padding: 9.76px 18.02px 11.72px 18.02px;
  word-break: break-all;
  white-space: nowrap;
}

.sec-result th {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.6px;
  background: #e7e9ff;
  text-align: left;
}

.sec-result td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.6px;
  background: #ffffff;
}

/* 버튼 클릭 시 애니메이션 스타일 */

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
  z-index: 5;
}

.star-five {
  margin: 50px 0;
  position: absolute;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid blue;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  z-index: 5;
}
.star-five-before {
  border-bottom: 80px solid blue;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
  z-index: 5;
}
.star-five-after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -108px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid blue;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
  z-index: 5;
}

.btn-contain {
  position: relative;
  z-index: 10;
}
