@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  color: #444444;
}

:root {
  font-size: 62.5%;
}
.la-wrap {
  display: flex;
  width: 1257px;
  margin: 0 auto;
}
.side-bar {
  flex-basis: 313px;
  margin-right: 45px;
  /* 튜토리얼, 치트시트에선 상단 padding이 더 큽니다 */
  padding: 45px 35px;
  border-left: 0.5px solid #e8e7e7;
  border-right: 0.5px solid #e8e7e7;
  box-sizing: border-box;
  color: #3c3c3c;
}

.list-wrap > li {
  /* 튜토리얼, 치트시트에선 여백이 더 큽니다 */
  margin-bottom: 76px;
}

.list-title,
.main-side-title {
  font-family: "Pretendard";
  /* 튜토리얼, 치트시트에선 여백이 더 큽니다 */
  margin-top: 70px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2.2rem;
  padding-bottom: 14px;
  border-bottom: 1px solid #b7b7b7;
  color: #4e4d4d;
}

.list-item,
.sql-btn-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-item {
  margin-top: 30px;
  font-family: "Pretendard";
  flex-direction: column;
  gap: 15px;
}

.list-item > li:hover,
.list-item > li:active {
  color: #5966ec;
  cursor: pointer;
  font-weight: 700;
}

/* 치트 시트 사이드바 Section */
/* .side-bar-cheatsheet {
    padding-top: 121px;
} */

.list-wrap-cheatsheet > li {
  margin-bottom: 131px;
}

.list-item > li,
.cheatsheet-pdf {
  width: 250px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #434343;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}

.cheatsheet-pdf {
  padding-top: 17px;
  padding-bottom: 10px;
}

.cheatsheet-pdf-list {
  margin-top: 30px;
}

.cheatsheet-download {
  float: right;
  background: url("../../assets/images/sprites-nomal.png") -5px -5px;
  background-size: 611px 78px;
  width: 15px;
  height: 15px;
  margin-right: 13px;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.cheatsheet-download:hover {
  background-position: -30px -5px;
  cursor: pointer;
}
