* {
  color: #4e4d4d;
}

.list-wrap-cheatsheet {
  margin-top: 70px;
}

main {
  width: 100%;
  margin-left: 27px;
}

main .cheatsheet-title-box {
  position: relative;
  margin-top: 104px;
  padding-bottom: 10px;
}

main .cheatsheet-title-box h2 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: inline-block;
  color: #6d79ee;
}

main .cheatsheet-title-box .cheatsheet-modal-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  vertical-align: top;
  padding: 0;
  margin-left: 10px;
}

main .cheatsheet-title-box .cheatsheet-modal-btn img {
  width: 32px;
  vertical-align: middle;
}

.cheatsheet-wrapper {
  padding: 72px 0 119px 0;
  border-top: 1px solid #eeedec;
}

.cheatsheet-wrapper h3 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
  position: relative;

  margin-bottom: 22px;
}

.cheatsheet-wrapper h3::before {
  content: "";
  display: block;
  width: 5px;
  height: 29px;
  background: #ffd66c;
  position: absolute;
  left: -26px;
}
.cheatsheet-wrapper .cheatsheet-list {
  background: #f9f9fa;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  padding: 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.cheatsheet-wrapper .cheatsheet-list li {
  width: 100%;
  background: #ffffff;
  padding: 31px 55px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: relative;
}

.cheatsheet-wrapper .cheatsheet-list li .cheatsheet-sql {
  font-family: "D2Coding";
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}

.cheatsheet-wrapper .cheatsheet-list li .cheatsheet-clipboard-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 40px;
  top: 31px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.cheatsheet-list li .cheatsheet-sql .cheatsheet-sql-statement .keyword{
  color: #5966ec;
}
.cheatsheet-list li .cheatsheet-sql .cheatsheet-sql-statement .keywordB{
  color: #0c5876;
}
.cheatsheet-list li .cheatsheet-sql .cheatsheet-sql-sorted {
  color: #ffbb56;
}

.cheatsheet-list li .cheatsheet-sql .cheatsheet-sql-aggregate {
  color: #ff8080;
}
.cheatsheet-list li .cheatsheet-sql-explanation {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
}
.cheatsheet-list li .cheatsheet-sql-select-state,
.cheatsheet-list li .cheatsheet-sql-additional {
  font-family: "Pretendard";
  font-weight: 400;
}

.cheatsheet-list li .cheatsheet-sql-additional {
  color: #ababab;
}
