.sql-btn-item {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 12px;
}

.sql-btn {
  border: 1px solid #e9ebfc;
  border-radius: 41px;
  padding: 6px 12px;
  color: #8085b0;
  background-color: #f7f7ff;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

.sql-btn:hover,
.sql-btn:active {
  color: #f7f7ff;
  background-color: #8085b0;
  border: 1px solid #a3a7cc;
}

.more-btn {
  left: 0;
  border: 1px solid #e1e1e1;
  border-radius: 41px;
  padding: 6px 12px;
  color: #999a99;
  background-color: #efefef;
  margin-bottom: 76px;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  cursor: pointer;
}

#sqlSelect {
  padding: 0 28px 0 12px;
  appearance: none;
  background: url(../assets/images/select-arrow-drop-down.png) no-repeat right
    9px center;
  width: 176px;
  height: 31px;
  background-color: #efefef;
  color: #999a99;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  margin-bottom: 76px;
  cursor: pointer;
}

.hide {
  display: none;
}

/* database */
.list-database-download-item > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  border-top: 1px solid #ededed;
  color: #434343;
}

.list-database-download-item li:first-child {
  border: none;
}

.list-database-download-item > li:hover {
  background-color: #f7f7ff;
  font-weight: 600;
  cursor: pointer;
}

.download-modal {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 11px;
  left: 18px;
  background-color: #f7f7ff;
  width: 129px;
  font-size: 16px;
}

.download-modal li {
  color: #000;
  background-color: inherit;
  border: none;
  border-top: 1px solid #ededed;
  padding: 10px 0px 10px 4px;
  cursor: pointer;
}

.download-modal li a {
  color: #000;
  text-decoration: none;
}

.database-download-btn {
  background: url("../assets/images/sprites-nomal.png") -4px -6px;
  background-size: 500px 78px;
  width: 13px;
  height: 13px;
  border: none;
}

.list-database-download-item > li:hover .database-download-btn {
  background-position: -24px -6px;
  cursor: pointer;
}

.database-download-btn:hover .download-modal {
  display: flex;
}

/* 메인 모달 부분 */
.modal-wrap * {
  box-sizing: border-box;
}

.modal-wrap {
  display: none;
  position: absolute;
  font-family: "Pretendard";
  top: 0;
  left: 0;
  background-color: rgba(232, 232, 232, 0.6);
  width: 100vw;
  height: 100vh;
}

.modal-main {
  top: 50px;
  left: 50px;
  position: fixed;
  background-color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 40px;
  width: 348px;
  border: 2px solid #5966ec;
  border-radius: 10px;
  text-align: left;
}

.modal-content {
  display: flex;
  justify-content: space-between;
}

.modal-content span {
  color: #c2c2c2;
  font-size: 20px;
  line-height: 30px;
}

.modal-content button {
  display: inline-block;
  border: none;
  color: #fff;
  cursor: pointer;

  background: #5966ec;
  font-size: 18px;
  line-height: 32px;
  padding: 4px 10px;
  border-radius: 10px;
}

.modal-main p {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.ir {
  width: 0;
  height: 0;
  font-size: 1px;
  clip-path: circle(50%);
  text-indent: -999px;
}

.hint1 {
  display: none;
}

.hint2 {
  display: none;
  top: 220px;
  width: 352px;
}

.hint3 {
  display: none;
  top: 400px;
}

.sec-statement {
  margin-top: 70px;
}
