@import url("../assets/fonts/fonts.css");

/* 튜토리얼 페이지 사이드바 추가속성*/
.side-bar {
  padding-top: 56px;
}

.tuto-title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #212121;
}

.tuto-sec {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
 
.tuto-sec-title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #5966EC;
}

.tuto-sec-cont {
  background: #EFEEEE;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
}

.tuto-sec-cont>strong {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.tuto-sec-cont>p {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
  color: #444444;
}

.tuto-sec-subtitle {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.tuto-sec-para>p {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
  color: #444444;
}

.tuto-sec-example-query {
  background: #F9F9FA;
  border: 1px solid #B4B4B4;
  border-radius: 16px;
}

.tuto-sec-example-query a {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.tuto-sec-example-query-para {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #5966EC;
}

.tuto-sec-result-para {
  background: #F9F9FA;
  border-radius: 15px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #212121;
}

.tuto-sec-result-para>strong {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #212121;
}