@import url("../assets/fonts/fonts.css");

main {
  padding-top: 110px;
  color: #444444;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.tuto-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #eeedec;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
}

.tuto-sec {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: 105px;
  padding-bottom: 240px;
}

.tuto-sec + .tuto-sec {
  border-bottom: 1px solid #eeedec;
}

.tuto-sec.home {
  margin-top: 0;
  padding-top: 40px;
}

.tuto-sec-title {
  margin-bottom: -40px;
  color: #5966ec;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

.tuto-sec-cont {
  padding: 34px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  background: #efeeee;
}

.tuto-sec-cont > strong {
  padding-top: 34px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.tuto-sec-cont > p {
  padding-top: 25px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
  opacity: 0.7;
}

.tuto-sec-subtitle {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.tuto-sec-subtitle::before {
  display: block;
  position: absolute;
  left: -26px;
  width: 5px;
  height: 29px;
  background: #ffd66c;
  content: "";
}

.tuto-sec-para > p {
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
  opacity: 0.7;
}

.tuto-sec-para > p code {
  display: inline-block;
  padding: 2px 5px;
  background: #efefef;
  border-radius: 3px;
  color: #5966ec;
  line-height: 1;
}

.tuto-sec-example-query-para {
  color: #5966ec;
  font-family: "D2Coding";
  font-size: 14px;
  line-height: 180%;
}

.btn-go {
  float: right;
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 80px;
  background: #5966ec;
  color: #ffffff;
  line-height: 1.3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.tuto-sec-example-img {
  display: block;
  margin: 22px auto;
}

.tuto-sec-example-query {
  margin-top: 20px;
  padding: 20px 18px;
  background: #f9f9fa;
  border: 1px solid #b4b4b4;
  border-radius: 16px;
}

.tuto-sec-example-query a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.tuto-sec-example-query-para {
  font-family: "D2Coding";
  font-size: 14px;
  line-height: 180%;
}

.query-para-line {
  margin-left: 27px;
}

.query-para-blue {
  color: #5966ec;
}

.query-para-yellow {
  color: #ffbb56;
}

.tuto-sec-result .tuto-sec-subtitle {
  margin-bottom: 15px;
  font-size: 20px;
}

.tuto-sec-result-table {
  margin: 0;
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden;
  font-size: 14px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.tuto-sec-result-table th,
.tuto-sec-result-table td {
  width: 148.33px;
  padding: 10px 18.54px 12px;
}

.tuto-sec-result-table th {
  border: 1px solid #e5e5e5;
  text-align: left;
}

.tuto-sec-result-table td {
  border: 1px solid #f9f9fa;
}

.tuto-sec-result-table {
  border-radius: 4px;
}

.tuto-sec-result-table thead {
  background-color: #e5e5e5;
  font-weight: 700;
}

.tuto-sec-result-para {
  padding: 30px;
  margin-top: 20px;
  background: #f9f9fa;
  border-radius: 15px;
  font-weight: 500;
  line-height: 30px;
}

.tuto-sec-result-para > strong {
  margin-right: 27px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
