@import url("../assets/fonts/fonts.css");

/* 튜토리얼 페이지 사이드바 추가속성*/
.side-bar {
  padding-top: 56px;
}

body {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #444444;
}

main {
  padding-top: 105px;
}

.tuto-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  color: #212121;
}

.tuto-sec {
  display: flex;
  flex-direction: column;
  gap: 65px;
  margin-top: 251px;
  padding-top: 105px;
}

main :nth-child(2) {
  margin-top: 0;
}

/* 일단 레이아웃 맞추려고 해둔 부분 - 더 깔끔한 표현 있을지  논의필요 */
main :nth-child(2) {
  margin-top: 0;
  padding-top: 0;
}

.tuto-sec-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  color: #5966ec;
}

.tuto-sec-cont {
  background: #efeeee;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}

.tuto-sec-cont > strong {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.tuto-sec-cont > p {
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.tuto-sec-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.tuto-sec-para > p {
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  letter-spacing: -0.2px;
  color: #444444;
}

.tuto-sec-example-query {
  background: #f9f9fa;
  border: 1px solid #b4b4b4;
  border-radius: 16px;
}

.tuto-sec-example-query a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.tuto-sec-example-query-para {
  font-family: "D2Coding";
  font-size: 14px;
  line-height: 180%;
  color: #5966ec;
}

/* 섹션2 표 작업  */

table {
  margin: 0;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 4px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e5e5e5;
}

th,
td {
  width: 148.33px;
  padding: 10px 18.54px 12px;
}

th {
  border: 1px solid #e5e5e5;
  text-align: left;
}

td {
  border: 1px solid #f9f9fa;
}

.tuto-sec-result-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.tuto-sec-result-table {
  border-radius: 4px;
}

.tuto-sec-result-table thead {
  font-weight: 700;
  background-color: #e5e5e5;
}

.tuto-sec-result-para {
  background: #f9f9fa;
  border-radius: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #212121;
}

.tuto-sec-result-para > strong {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #212121;
}

.sql-footer {
  margin-top: 243px;
}

.btn-go {
  width: 165px;
  height: 37px;
  left: 1447px;
  top: 1873px;
  background: #5966ec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 80px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
  padding: 8px 16px;
}

.tuto-sec-para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  text-align: justify;
  letter-spacing: -0.2px;

  color: #444444;

  mix-blend-mode: normal;
  opacity: 0.7;
}
